<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Civil Engineering</title>
  </head>
  <body>
    <div class="w3-container w3-red">
      <h1>
        <a href="index.html" style="text-decoration: none"
          >Engineering Course</a
        >
      </h1>
      <a href="contact.html" class="w3-padding">Contact Us</a>
    </div>
    <div class="w3-container w3-padding">
      <h1>Civil Engineering</h1>
    </div>
    <div class="w3-third w3-padding">
      <img src="assets/civil.jpeg" alt="Civil Engineering" />
    </div>
    <div class="w3-twothird w3-padding">
      <p class="w3-justify" style="margin-bottom: 5px">
        The Civil Engineering Department was established in the year 2009. The
        department offer B.Tech program in Civil Engineering with a yearly
        intake of 120 students. A group of qualified faculty and adequate
        experience is the highlight of the department. The department has
        qualified faculty members occupied with educating and research having
        perfection in different fields. The faculty members are youthful,
        dynamic and prepared to meet the scholastic needs yearning of
        understudies.
      </p>
      <p>
        The objective of the B.Tech graduate program in Civil Engineering is to
        give the understudies great comprehension of civil engineering
        arrangements in a global, societal and ecological setting, steady with
        the standards of sustainable improvement. The course will make the
        understudies capable Identifying, planning and taking care of civil
        engineering problems that meet indicated execution, cost, time, well
        being and other quality needs and objectives with proficient and moral
        responsibility. The department also offers two PG programs, M. Tech. in
        Structural Engineering and M.Tech. in Construction Technology under full
        time category.
      </p>
    </div>
    <div class="container-fluid w3-padding">
      <table class="w3-table-all">
        <tr>
          <th>LABS AND COMPUTING</th>
        </tr>
        <tr>
          <td>Surveying Laboratory</td>
        </tr>
        <tr>
          <td>Geotechnical Engineering Laboratory</td>
        </tr>
        <tr>
          <td>Mechanics of Solids Laboratory</td>
        </tr>
        <tr>
          <td>Concrete Technology Laboratory</td>
        </tr>
        <tr>
          <td>Environmental Engineering Laboratory</td>
        </tr>
        <tr>
          <td>Highway Engineering Laboratory</td>
        </tr>
      </table>
    </div>

    <div class="w3-container">
      <h1>&#10148; Vision of the department</h1>
    </div>

    <div class="w3-ul w3-container">
      <ul class="w3-padding">
        <li>
          To impart knowledge and excellence in Civil Engineering and technology
          with global perspectives to our students and to make them ethically
          strong engineers to build our nation.
        </li>
        <li>
          To produce Civil Engineers of high caliber, technical skills and
          ethical values to serve the society and nation.
        </li>
        <li>
          To make the department a centre of excellence in the field of civil
          engineering and allied research.
        </li>
        <li>
          To provide knowledge base and consultancy services to the community in
          all areas of civil engineering.
        </li>
        <li>
          To promote innovative and original thinking in the of budding
          engineers to face the challenges of the future.
        </li>
      </ul>
    </div>
    <div class="w3-container">
      <h1>&#10148; Program specific outcomes</h1>
    </div>

    <div class="w3-container w3-ul">
      <ol class="w3-padding">
        <li>
          Graduates Shall have an ability to analyze and solve problems related
          to civil engineering using mathematics, Science and fundamental
          principles of engineering.
        </li>
        <li>
          Graduate shall have an ability to analyze, design, construct, maintain
          and rehabilitate the infrastructural projects, using the knowledge of
          subjects related to planning, construction, structural, geotechnical,
          transportation, environment and water resource engineering as well as
          project management.
        </li>
        <li>
          Graduates shall have the ability to employ advanced civil equipments,
          softwares, and techniques.
        </li>
        <li>
          Graduate shall have an ability to apply gained knowledge to choose
          from the innovative career paths, to be an entrepreneur, and a zest
          for higher studies.
        </li>
        <li>
          Graduates shall have an ability to interact and work seamlessly in
          teams.
        </li>
      </ol>
    </div>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      img {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </body>
</html>
