<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Mechanical Engineering</title>
  </head>
  <body>
    <div class="w3-container w3-red">
      <h1>
        <a href="index.html" style="text-decoration: none"
          >Engineering Course</a
        >
      </h1>
      <a href="contact.html" class="w3-padding">Contact Us</a>
    </div>
    <div class="w3-container w3-padding">
      <h1>Mechanical Engineering</h1>
    </div>
    <div class="w3-third w3-padding">
      <img src="assets/mechanical.jpeg" alt="Mechanical Engineering" />
    </div>
    <div class="w3-twothird w3-padding">
      <p class="w3-justify" style="margin-bottom: 5px">
        The Department offers undergraduate course in Mechanical engineering and
        postgraduate courses in Thermal Sciences and Machine Design
        Specializations. The department has well equipped laboratories attached
        to different divisions for conducting teaching and research for an
        intake of 120 students at undergraduate level.
      </p>
      <p>
        The aim of the mechanical engineering is to create a flexible
        undergraduate educational experience in design, mathematics, modeling,
        computing, management, engineering science, humanities and social
        sciences. The students completing their B.Tech course are fully prepared
        for technological career in industry as well in further post-graduate or
        management courses. The students can also utilize these
        interdisciplinary programs as an initiation for professional careers in
        business or public service sectors. The department organizes corporate
        training programs, besides undertaking industrial consultancy. This
        imparts immense benefit to students by way of good placements,
        well-equipped computational laboratories with required software and
        industrial exposure
      </p>
    </div>
    <div class="container-fluid w3-padding">
      <table class="w3-table-all">
        <tr>
          <th>LABS AND COMPUTING</th>
        </tr>
        <tr>
          <td>Engineering Drawing</td>
        </tr>
        <tr>
          <td>CAD Lab</td>
        </tr>
        <tr>
          <td>Dynamics of Machine Lab</td>
        </tr>
        <tr>
          <td>Fluid Machines/Fluid Mechanics Lab</td>
        </tr>
        <tr>
          <td>Mechanical Measurement/Material Technology Lab</td>
        </tr>
        <tr>
          <td>Thermal Lab</td>
        </tr>
      </table>
    </div>
    <div class="w3-container">
      <h1>&#10148; Vision of the department</h1>
    </div>

    <div class="w3-container w3-ul">
      <ul class="w3-padding">
        <li>
          To be recognized as a provider of high quality education in the field
          of Mechanical Engineering that enables graduates to meet the needs of
          society and to craft intellectually-adept research centers with world
          class competency and cutting edge proficiency
        </li>
        <li>
          To educate, prepare and mentor students to excel as professionals.
        </li>
        <li>
          To provide the facilities and environment conducive to high quality
          education to get diverse careers as well as research in the field of
          Mechanical Engineering.
        </li>
        <li>
          To engage the students in academic as well as scholarly activities,
          which strengthen the department reputation in global market.
        </li>
      </ul>
    </div>
    <div class="w3-container">
      <h1>&#10148; Program specific outcomes</h1>
    </div>

    <div class="w3-container w3-ul">
      <ol class="w3-padding">
        <li>
          Graduates shall have an ability to work independently in corporate
          field by applying knowledge of engineering mathematics, mechanics,
          Design and theory of machines, manufacturing processes, materials
          technology, thermal engineering and fluid mechanics for the solution
          of problems in the field of mechanical engineering.
        </li>
        <li>
          Graduates shall have an ability to develop good leadership and team
          working capacity, entrepreneurship skills, sound decision making,
          profound communication and high ethics and moral values to support the
          society and nation.
        </li>
        <li>
          Graduates shall have an ability to work upon creative and innovative
          solutions for designing, developing and maintaining world class
          products/services within and out of the domain of Mechanical
          engineering
        </li>
        <li>
          Graduates shall have an capability to accept the change and new
          challenges with lifelong learning.
        </li>
      </ol>
    </div>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      img {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </body>
</html>
