<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Tutorial 11 - (22SOECE13039)</title>
  </head>
  <body class="flex" style="height: 100vh">
    <main
      class="flex col"
      style="width: 300px; height: 500px; background: lightslategray">
      <h1>Tutorial 11 - Experiments</h1>
      <ol>
        <li>
          <a href="./Views/Experiment_1/index.php">Experiment - 1</a>
        </li>
        <li>
          <a href="./Views/Experiment_2/index.php">Experiment - 2</a>
        </li>
        <li>
          <a href="./Views/Experiment_3/index.php">Experiment - 3</a>
        </li>
      </ol>
    </main>
  </body>
</html>
