<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Tutorial 4 - (22SOECE13039)</title>
  </head>
  <body class="flex" style="height: 100vh">
    <main
      class="flex col"
      style="width: 300px; height: 500px; background: lightslategray">
      <h1>Tutorial 4 - Experiments</h1>
      <ol>
        <li>
          <a href="./Experiments/Experiment_1/index.html">Experiment - 1</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_2/index.html">Experiment - 2</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_3/index.html">Experiment - 3</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_4/index.html">Experiment - 4</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_5/index.html">Experiment - 5</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_6/index.html">Experiment - 6</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_7/index.html">Experiment - 7</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_8/index.html">Experiment - 8</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_9/index.html">Experiment - 9</a>
        </li>
        <li>
          <a href="./Experiments/Experiment_10/index.html">Experiment - 10</a>
        </li>
      </ol>
    </main>
  </body>
</html>
