<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <title>Tutorial - 1 (22SOECE13039)</title>
  </head>
  <body>
    <div class="w3-container w3-red">
      <h1>Engineering Course</h1>
      <a href="contact.html">Contact Us</a>
    </div>
    <div class="w3-row-padding">
      <div class="w3-third">
        <h1>Computer Engineering</h1>
        <p class="w3-justify description">
          It is a four years (eight semester) full-time undergraduate program.
          Out of eight semesters, seven semesters are dedicated to in house
          study involving course work and projects. Final semester is dedicated
          to Industrial Project. Students spend entire eighth semester in an IT
          company and do a project.
        </p>
        <a href="computer.html">Learn More...</a>
        <img src="assets/computer.jpeg" alt="Computer Engineering" />
      </div>
      <div class="w3-third">
        <h1>Mechanical Engineering</h1>
        <p class="w3-justify description">
          The aim of the mechanical engineering is to create a flexible
          undergraduate educational experience in design, mathematics, modeling,
          computing, management, engineering science, humanities and social
          sciences
        </p>
        <a href="mechanical.html">Learn More...</a>
        <img src="assets/mechanical.jpeg" alt="Mechanical Engineering" />
      </div>
      <div class="w3-third">
        <h1>Civil Engineering</h1>
        <p class="w3-justify description">
          The objective of the B.Tech graduate program in Civil Engineering is
          to give the understudies great comprehension of civil engineering
          arrangements in a global, societal and ecological setting, steady with
          the standards of sustainable improvement.
        </p>
        <a href="civil.html">Learn More...</a>
        <img src="assets/civil.jpeg" alt="Civil Engineering" />
      </div>
    </div>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .description {
        height: 160px;
      }

      img {
        aspect-ratio: 16 / 9;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </body>
</html>
